*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}
.logo{
    height: 65px;
}
.bg-violet{
    background-color: #B4B8AB;
}
.header{
    min-height: 100vh;
    background-image: linear-gradient(#47444877, #534b5277), url(../img/BG.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: large;
}
.card1{
    background-color: #b4b8ab77;
}
.display-4{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 0 0 20px #E0DDCF ;
    color: #534B52;
    font-weight: bolder;
}
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F4F9E9;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 3s;
    opacity: 4;
}

.loader {
    display: block;
    --height-of-loader: 4px;
    --loader-color: #153243;
    width: 130px;
    height: var(--height-of-loader);
    border-radius: 30px;
    background-color: rgba(0,0,0,0.2);
    position: relative;
  }
  
.loader::before {
    content: "";
    position: absolute;
    background: var(--loader-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
      
}
.box{
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: #E0DDCF;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}
.box:hover input {
    width: 150px;
    transition: 0.9s;
}
.box input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: transparent;
    transition: color 0.3s, text-shadow 0.3s;
}
.box a .fas{
    color: #534B52;
    font-size: 18px;
    transition: 0.3s;
}
.gotopbtn{
    position: fixed;
    width: 40px;
    height: 40px;
    background: #E0DDCF;
    bottom: 40px;
    right: 40px;

    text-decoration: none;
    text-align: center;
    line-height: 40px;
    color: #534B52;
    font-size: 22px;

    border: none;
    border-radius: 10px;
}
.navbar-nav.ml-auto .nav-link:hover {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
    transition: text-shadow 0.3s;
    text-decoration: underline; 
    border-bottom: 2px solid transparent; 
    padding-bottom: 4px; 
    font-weight: bolder;
    font-size: large;
    color: #534B52;
}
.lead {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #E0DDCF;
}
.leads {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    color: #534B52;
}


