*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}   
.about_us {
    position: relative;
    padding: 50px 0;
}

.about_us::before {
    content: "";
    background-image: url('../img/MAANGAS NA BG.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(4px); 
    z-index: -1; 
}
/* Styles for the button and card background */
.card {
    background: #f2dea2bc;
}
.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card button.btn-info {
    background-color: #0056b3;
}

/* Styles for the card title */
.card h3.card-title {
    color: #333;
    text-transform: uppercase;
}

/* Styles for the list */
.card ul {
    list-style-type: disc;
    padding-left: 20px;
}

.card li {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}

/* Styles for the button */
.card button {
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card button:hover {
    background-color: #004499; /* Hover color for the button */
}

/* Styles for the footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}


.btn:hover {
    background-color: #333; 
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .navbar-nav .nav-link {
        font-size: 16px;
    }
    
    .jumbotron {
        padding: 20px;
    }
    
    .card1 {
        padding: 10px;
    }
}
